/* Fontface import */

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 300;
  font-style: normal;
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.eot");
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.eot?#iefix")
      format("embedded-opentype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.woff2")
      format("woff2"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.woff")
      format("woff"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.ttf")
      format("truetype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300.svg#Cooper Hewitt")
      format("svg");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 400;
  font-style: normal;
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.eot");
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.eot?#iefix")
      format("embedded-opentype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.woff2")
      format("woff2"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.woff")
      format("woff"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.ttf")
      format("truetype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400.svg#Cooper Hewitt")
      format("svg");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 700;
  font-style: normal;
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.eot");
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.eot?#iefix")
      format("embedded-opentype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.woff2")
      format("woff2"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.woff")
      format("woff"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.ttf")
      format("truetype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700.svg#Cooper Hewitt")
      format("svg");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 300;
  font-style: italic;
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.eot");
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.eot?#iefix")
      format("embedded-opentype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.woff2")
      format("woff2"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.woff")
      format("woff"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.ttf")
      format("truetype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-300_italic.svg#Cooper Hewitt")
      format("svg");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 400;
  font-style: italic;
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.eot");
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.eot?#iefix")
      format("embedded-opentype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.woff2")
      format("woff2"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.woff")
      format("woff"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.ttf")
      format("truetype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-400_italic.svg#Cooper Hewitt")
      format("svg");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 700;
  font-style: italic;
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.eot");
  src: url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.eot?#iefix")
      format("embedded-opentype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.woff2")
      format("woff2"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.woff")
      format("woff"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.ttf")
      format("truetype"),
    url("//d2wwthy2zmzhx.cloudfront.net/fonts/cooper-hewitt-700_italic.svg#Cooper Hewitt")
      format("svg");
}

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* End of reset */

body {
  font-family: "Cooper Hewitt";
  font-size: 16px;
  background-color: #004d96;
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

header {
  position: fixed;
  top: 40px;
  left: 40px;
}

section {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

section.image_1 {
  background-image: url(./assets/sally_1.jpg);
}

section.image_2 {
  background-image: url(./assets/sally_2.jpg);
}

section.image_3 {
  background-image: url(./assets/sally_3.jpg);
}

section.image_4 {
  background-image: url(./assets/sally_4.jpg);
}

section.image_5 {
  background-image: url(./assets/sally_5.jpg);
}

section.image_6 {
  background-image: url(./assets/sally_6.jpg);
}

section.image_7 {
  background-image: url(./assets/sally_7.jpg);
}

section.image_8 {
  background-image: url(./assets/sally_8.jpg);
}

footer {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

footer a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

footer a:not(:last-child) {
  margin-right: 20px;
}

footer a:hover {
  color: #ddd;
}

@media (max-width: 850px) {
  section {
    height: 75vw;
    background-attachment: scroll;
  }
}
