@import "reset";
@import "font";

body {
  font-family: "Cooper Hewitt";
  font-weight: 400;
  font-size: 16px;
  background-color: #004d96;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  top: 30px;
  left: 30px;
}

header h1 {
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

header p {
  margin-top: 10px;
  font-size: 24px;
}

section {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section.img_one {
  background-image: url(./assets/sally_1.jpg);
}

section.img_two {
  background-image: url(./assets/sally_2.jpg);
}

section.img_three {
  background-image: url(./assets/sally_3.jpg);
}

section.img_four {
  background-image: url(./assets/sally_4.jpg);
}

section.img_five {
  background-image: url(./assets/sally_5.jpg);
}

section.img_six {
  background-image: url(./assets/sally_6.jpg);
}

section.img_seven {
  background-image: url(./assets/sally_7.jpg);
}

section.img_eight {
  background-image: url(./assets/sally_8.jpg);
}

footer {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

footer a:not(:last-child) {
  margin-right: 15px;
}

footer a:hover {
  color: #ddd;
}
